[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pandas = "*"
zeep = "*"
twilio = "*"
gunicorn = "*"
msal = "*"
openpyxl = "*"
bs4 = "*"
boto3 = "*"
retry = "*"
dynamodb-json = "*"
botocore = "*"
dacite = "*"
dependency-injector = "*"
asyncio = "*"
flask = { extras = ["async"], version = "*" }
watchtower = "*"
typing-extensions = "*"
pypdf = "*"
chromedriver-autoinstaller = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
test = "pipenv run python -m unittest tests"
