[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pandas = "*"
zeep = "*"
twilio = "*"
flask = "*"
gunicorn = "*"
msal = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
