[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pandas = "*"
zeep = "*"
twilio = "*"
flask = "*"
gunicorn = "*"
msal = "*"
openpyxl = "*"
pypdf = "*"
bs4 = "*"
boto3 = "*"
retry = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
test = "pipenv run python -m unittest tests"
